<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="ACM_Redesign2014Context" connectionString="Data Source=RSVWD00A0019,11003;Initial Catalog=ACM_REDESIGN_QA;Persist Security Info=True;User ID=acm;Password=acm2rce123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>